@-ms-viewport {
  width: device-width;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --red: #ED1C24;
  --black: #161616;
  --backdrop: #FAFAFA;
  --grey: #BBBBBB;

}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem;
}

/* Typography */

h1 {
  font-size: 1.85rem;
  margin-bottom: 0;
  color: var(--red);
}

h5 {
  margin-top: .5em;
  color: var(--black);
}



/* Layout */

.container {
    width: 100%;
    margin: 0 auto;
}

nav {
  display: flex;
  flex-direction: column;
}

.logo {
  margin: 1em 0;
  display: flex;
  padding:0 1em;
}

.jumbotron {
  margin-top: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.jumbotron img {
  width: 80%;
}

section {
  margin-top: 5em;
  background-color: var(--backdrop);
}



.title {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 70%;
  padding: 1em;
  margin: 1em 0;
  letter-spacing: .08em;
  font-size: .875rem;
}

p {
  text-align: center;
  margin: 2em 0;
  font-size: .875rem;
  letter-spacing: .1rem;
  color: var(--red);
  opacity: .5;
  font-weight: 500;

}

@media (min-width: 768px) {
  .container {
    display: flex;
    width: 100%;
  }

  .jumbotron img {
    width: 60%;
  }

  section {
    margin: 0;
  }
  nav {
    width: 40%
  }

  section {
    width: 60%;
  }

  input {
    width: 40%;
    padding: .8em;
    margin: .8em 0;
  }
}
